<!DOCTYPE html>
<html>

<head>
	<!-- start meta data -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end meta data -->

	<title>
		{% block title %}{% endblock %}
	</title>

	<!-- start css -->
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- mine -->
	<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename = 'css/main.css') }}">
	<!-- end css -->

</head>

<body>

	<main class="container">
		{% if messages %}
			{% for msg in messages %}
			<div class="alert alert-{{msg.class}}">{{ msg.msg }}</div>
			{% endfor %}
		{% endif %}

		{% if logined %}
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="{{ url_for('home') }}">Easy Money</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="{{ url_for('home') }}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('profile', userId=user.id) }}">Profile</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
							 aria-haspopup="true" aria-expanded="false">
								Wallet
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<p class="dropdown-item">Balance {{wallet.balance}}$</p>
								<p class="dropdown-item">inuse {{wallet.inuse}}$</p> 
								<hr>
								<a class="dropdown-item" href="#">charge money</a>
								<a class="dropdown-item" href="#">pull money</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		{% endif %}


		<div class="content">
			{% block content %}{% endblock %}
		</div>

		{% if logined %}
		<footer class="page-footer font-small cyan darken-3 bg-light">
			<!-- Copyright -->
			<div class="footer-copyright text-center py-3">© 2018 Copyright:
				<a href="#">MDBootstrap.com</a>
			</div>
			<!-- Copyright -->
		</footer>
		{% endif %}
	</main>


	<!-- start js -->
	<!-- bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	 crossorigin="anonymous"></script>
	<!-- mine -->
	<script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
	<!-- end js -->
</body>

</html>